<!DOCTYPE html>
<html lang="EN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Book Slot</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<section layout:fragment="content">
	<div class="card card-default">
		<h5 class="card-header">Request Status</h5>
		<div class="card-body">
			Your slot booked successfully, please note your token number for
			future use, <Strong>Token:?????????</Strong>
		</div>
	</div>
	<a href="home" class="btn btn-primary btn-default">Home Page</a>

	<script src="/js/js-library.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</section>
</html>