<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="EN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Book Slot</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<section layout:fragment="content">
	<div Id="error" class="error">
		Your slot booked successfully, please note your token number for future use, Token: <span th:text="${token}"></span>
	</div>
	<div id="token" class="card-body">
			Your slot booked successfully, please note your token number for future use, Token: <span th:text="${token}"></span>
		</div>
	<div class="card card-default">
		<h5 class="card-header">Request Status</h5>
		<div id="token" class="card-body">
			Your slot booked successfully, please note your token number for future use, Token: <span th:text="${token}"></span>
		</div>
	</div>


	<div id="homepage">
		<a th:href="@{home}" class="btn btn-primary btn-default">Home Page</a>
	</div>

	<script th:src="@{/js/jslibrary.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</section>
</html>