<!DOCTYPE html>
<html lang="EN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Error</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<section layout:fragment="content">
	<div class="card card-default">
		<h5 class="card-header">Error Message</h5>
		<div id="error" class="error">
			<span id="result" th:text="${result}"></span>
		</div>
	</div>

	<div id="homepage">
		<a href="home" class="btn btn-primary btn-default">Home Page</a>
	</div>

	<script src="/js/js-library.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</section>
</html>