<!DOCTYPE html>
<html lang="EN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Booked Slots</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>

<section layout:fragment="content">
	<div id="booked" class="card card-default">
		<div class="card-header">
			<h3 class="container">Booked Slots</h3>
		</div>
		<div class="card-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Service Date</th>
						<th scope="col">Slot</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="bookeds : ${slots}">
						<td th:text="${bookeds.name}"></td>
						<td th:text="${bookeds.date.date}"></td>
						<td th:text="${bookeds.slot}"></td>
						<td><a id="cancel" th:href="@{/cancel(token=${bookeds.token})}" class="btn btn-danger">Cancel</a></td>
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(slots)}">
							<div id=error class="error">Failure: No booking found for given token number</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div id="homepage">
		<a th:href="@{home}" class="btn btn-primary btn-default">Home Page</a>
	</div>
	
	<script th:src="@{/js/jslibrary.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</section>
</html>