<!DOCTYPE html>
<html lang="EN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Booked Slots</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<section layout:fragment="content">
	<div id="error"
		class="alert alert-success alert-dismissible 
					fade show child success"
		role="alert" th:if="${!#strings.isEmpty(message)}">
		<span th:text="${message}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert"
			aria-label="Close"></button>
	</div>
	<div id="booked" class="card card-default">
		<div class="card-header">
			<h3 class="container">Booked Slots</h3>
		</div>
		<div class="card-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Service Date</th>
						<th scope="col">Slot</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="bookeds : ${slots}">
						<td th:text="${bookeds.name}"></td>
						<td th:text="${bookeds.date.date}"></td>
						<td th:text="${bookeds.slot}"></td>
						<!-- <td id="token" name="token" th:text="${bookeds.token}"></td> -->
						<!-- <a th:href="@{/index(param1='value1',param2='value2')}"> -->
						<td><a id="cancel" th:href="@{/cancel(token=${bookeds.token})}" class="btn btn-danger">Cancel</a></td>
						
						
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(slots)}">No slot available for
							this token</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div id="homepage">
		<a href="home" class="btn btn-primary btn-default">Home Page</a>
	</div>

	<script src="/js/js-library.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</section>
</html>