<!DOCTYPE html>
<html lang="EN" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title>Booked Slots</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>

	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
		<div class="container">
			<a class="navbar-brand" href="#"> <img
				src="/images/logo-service-car.png" alt="" width="160" height="154">
			</a>
			<h1>Online Car Service Center</h1>
		</div>
	</nav>
	<div class="container-body" id="booked">
	
	</div>
	<div class="card">
		<div class="card-header">
			<h3 class="container">Booked Slots</h3>
		</div>
		<div class="card-body container">
			<table class="table table-bordered">
				<thead>
					<tr class="table-dark">
						<th scope="col">Name</th>
						<th scope="col">Service Date</th>
						<th scope="col">Slot</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
						<td>Cancel</td>
					</tr>
				</tbody>
			</table>
			<a href="#" class="btn btn-primary">Home Page</a>
		</div>
	</div>


	<script src="/js/bootstrap.min.js"></script>
</body>
</html>