<!DOCTYPE html>
<html lang="EN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<section layout:fragment="content">
	<div class="container" id="booked">
		<div class="card-body">

			<div class="card card-small">
				<h5 class="card-header">Already have a booking?</h5>
				<div class="card-body">
					<form class="row g-0" th:action="@{getBookedSlot}" method="get">
						<div class="mb-3">
							<label for="token" class="form-label">Enter token</label> <input
								type="text" class="form-control" id="token" name="token" required="required"/>
						</div>
						<button type="submit" class="btn btn-primary" id="tsubmit">View/Modify
							existing slot</button>
					</form>
				</div>
			</div>

			<div>
				<h5 class="text">
					<strong>OR</strong>
				</h5>
			</div>

			<div class="card card-small">
				<h5 class="card-header">Do you want to book a car service slot?</h5>
				<div class="card-body">
					<form class="row g-0" th:action="@{checkAvailability}" method="get">
						<div class="mb-3">
							<label for="date" class="form-label">Enter Date</label> 
							<input type="text" class="form-control" name="date" id="date" required="required"/>
						</div>
						<button type="submit" class="btn btn-primary" id="tsubmit">Check available slot</button>
					</form>
				</div>
				
			</div>

		</div>
	</div>

	<script src="/js/js-library.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</section>
</html>