<!DOCTYPE html>
<html lang="EN" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>

	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
		<div class="container">
			<a class="navbar-brand" href="home"> <img
				src="/images/logo-service-car.png" alt="" width="95" height="70">
			</a>
			<h1>Online Car Service Center</h1>
		</div>
	</nav>
	<div class="container" id="booked">
		<div class="card-body">

			<div class="card card-small">
				<h5 class="card-header">Already have a booking?</h5>
				<div class="card-body">
					<form class="row g-0">
						<div class="mb-3">
							<label for="token" class="form-label">Enter token</label> 
							<input type="text" class="form-control" id="token" />
						</div>
						<button type="submit" class="btn btn-primary" id="tsubmit">View/Modify existing slot</button>
					</form>
				</div>
			</div>

			<div>
				<h5 class="text">
					<strong>OR</strong>
				</h5>
			</div>

			<div class="card card-small">
				<h5 class="card-header">Do you want to book a car service slot?</h5>
				<div class="card-body">
					<form class="row g-0" method="POST" action="/checkAvailability">
						<div class="mb-3">
							<label for="date" class="form-label">Enter Date</label> 
							<input type="text" class="form-control" id="date" />
						</div>
						<button type="submit" class="btn btn-primary" id="bsubmit">Check available slots</button>
					</form>
				</div>
			</div>

		</div>
	</div>


	<script src="/js/bootstrap.min.js"></script>
</body>
</html>