<!DOCTYPE html>
<html lang="EN" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Car Service Center</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>

	<nav class="navbar navbar-light" style="background-color: rgb(208, 222, 234);">
		<div class="container">
			<a class="navbar-brand" href="home"> <img
				src="/images/logo-service-car.png" alt="" width="95" height="70">
			</a>
			<h2>Online Car Service Center</h2>
		</div>
	</nav>

	<section layout:fragment="content">
		<p>Page content goes here</p>
	</section>


	<script src="/js/jslibrary.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>